[v-cloak] {
  display: none;
}
html,body,.accRentIncome{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: #fff;
}
/*匹配详情*/
.accRentIncome{
display: flex;
flex-direction:column;
padding:376px 40px 0;
  & .rentBox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 376px;
    background: #fff;
    overflow-y:hidden;
  }
}
.red{
  color: red;
}

